* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}
@font-face {
  font-family: Khula;
  src: url(../fonts/Khula-ExtraBold.ttf);
}
body {
  background-color: black;
  align-items: center;
  font-family: raleway-c;
  overflow-x: hidden;
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 10px;
}
.content,
.hero,
.main-header,
.gallery > * {
  will-change: transform;
}
.hero {
  max-height: 100vh;
  max-width: 100vw;
}
.hero-section {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.main-header {
  display: inline-flex;
  z-index: 2;
  position: absolute;
  left: 4vw;
  top: 60vh;
}
.animate-charcter {
  font-size: 15vw;
  font-weight: 950;
  bottom: 5vh;
  left: 4vw;
  font-family: outfit-c;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #49177e 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  animation-direction: alternate;
}
@keyframes textclip {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery__item {
  width: 40vw;
  margin-bottom: 5vh;
  border-radius: 25px;
}
.gallery__left {
  margin-top: 5vh;
}
.gallery__right .gallery__item {
  margin-top: 5vh;
}
.text-block {
  color: white;
  position: relative;
}
.text-block__h {
  line-height: 2.4rem;
  color: white;
  margin-bottom: 1.5rem;
}
.text-block__p {
  line-height: 1.75;
}
.container {
  margin-top: 50vh;
}

.gallery {
  display: flex;
}
.link{
  color: #7289da;
  font-weight: bold;
  text-decoration: none;
}
.console-container {
  font-family: Khula;
  font-size:4vh;
  width:40vw;
  display:block;
  color:white;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}